@model CrearMiPizza.Models.PizzaModel


@{
    ViewBag.Title = "Crear mi pizza";
    var detallesIngresientes = ViewBag.detallesIngredientes;
}


<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="~/Content/estilos.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/main.js"></script>

</head>

<body class="body-content" >

    <hr />
    <h2> <strong> Elija los elementos favoritos para su pizza</strong></h2>
    <hr />

    @if (ViewBag.Message != "") {
        <div class="alert-danger">
            @ViewBag.Message
        </div>
    }

    <div class="wrap">
        <ul class="tabs">
            <li><a href="#tab1"><span class="fas fa-ruler"></span><span class="tab-text"> Tamaño </span></a></li>
            <li><a href="#tab2"><span class="fas fa-bread-slice"></span><span class="tab-text"> Masa y salsa </span></a></li>
            <li><a href="#tab3"><span class="fas fa-pizza-slice"></span><span class="tab-text"> Ingredientes </span></a></li>
            <li><a href="#tab4"><span class="fas fa-paper-plane"></span><span class="tab-text"> Datos de envío </span></a></li>

        </ul>

        <div class="secciones">
            @using (Html.BeginForm("GenerarInformePedido", "Pizza", FormMethod.Post, new { @id = "formPreg", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <article id="tab1">

                    <div class="row">
                        <div class="col-md-6">
                            <hr />
                            <h3>Elige el tamaño de la pizza</h3>
                            <hr />

                            <div class="form-group">
                                @for (int i = 0; i < detallesIngresientes.Tamanios.Length; ++i)
                                {
                                    string valorIndice = i.ToString();
                                    @Html.RadioButtonFor(model => model.Tamanio, valorIndice, new { @checked = "true" }) <spam class="tamanios-letras-rb"> @detallesIngresientes.Tamanios[i] </spam> <hr />
                                }

                                <a href="#tab2" class="btn btn-primary btn-lg" id="pasarTab1-Tab2"> Siguiente </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="center">
                                <img src="~/Content/img/pizzatamanios.jpg" width="280" height="280" />
                            </div>
                        </div>
                    </div>
                </article>

                <article id="tab2">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Seleccione la masa de su preferencia</h4>
                            <hr />
                            @for (int i = 0; i < detallesIngresientes.NombresMasas.Length; ++i)
                            {
                                string valorIndice = i.ToString();
                                @Html.RadioButtonFor(model => model.TipoMasa, valorIndice, new { @checked = "true" }) <spam class="tamanios-letras-rb"> @detallesIngresientes.NombresMasas[i] </spam> <hr />
                            }
                        </div>
                        <div class="col-md-4">
                            <h4>Seleccione la salsa de su preferencia</h4>
                            <hr />
                            @for (int i = 0; i < detallesIngresientes.NombresSalsas.Length; ++i)
                            {
                                string valorIndice = i.ToString();
                                @Html.RadioButtonFor(model => model.TipoSalsa, valorIndice, new { @checked = "true" }) <spam class="tamanios-letras-rb"> @detallesIngresientes.NombresSalsas[i] </spam> <hr />
                            }
                        </div>
                        <div class="col-md-4">
                            <hr />
                            <img src="~/Content/img/salsamasa.jpg" width="300" height="200" />
                            <hr />
                            <a href="#tab3" class="btn btn-primary btn-lg" id="pasarTab2-Tab3"> Siguiente </a>
                        </div>
                    </div>
                </article>

                <article id="tab3">

                    <hr />
                    <h3>Elige los ingredientes de la pizza</h3>
                    <hr />

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <img src="~/Content/img/ingresientes1.jpg" width="330" height="200" /> <hr />
                                @for (int i = 0; i < 4; ++i)
                                {
                                    string valorIndice = i.ToString();
                                    <input name="IngredientesId" type="checkbox" value=@valorIndice /> @detallesIngresientes.NombresIngredientes[i];
                                    <br />
                                }

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <img src="~/Content/img/ingresientes2.jpg" width="330" height="200" /> <hr />
                                @for (int i = 4; i < 8; ++i)
                                {
                                    string valorIndice = i.ToString();
                                    <input name="IngredientesId" type="checkbox" value=@valorIndice /> @detallesIngresientes.NombresIngredientes[i];
                                    <br />
                                }

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <img src="~/Content/img/ingresientes3.jpg" width="330" height="200" /> <hr />
                                @for (int i = 8; i < 12; ++i)
                                {
                                    string valorIndice = i.ToString();
                                    <input name="IngredientesId" type="checkbox" value=@valorIndice /> @detallesIngresientes.NombresIngredientes[i];
                                    <br />
                                }
                                <hr />
                                <a href="#tab4" class="btn btn-primary btn-lg" id="pasarTab3-Tab4"> Siguiente </a>
                            </div>
                        </div>
                    </div>
                </article>

                <article id="tab4">
                    <div class="form-group">

                        <div id="center">
                            <h3>Formulario de envío</h3>

                            @Html.LabelFor(model => model.NombreDuenioPizza)
                            @Html.TextBoxFor(model => model.NombreDuenioPizza, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NombreDuenioPizza, "", new { @class = "text-danger" })

                            <hr />

                            @Html.LabelFor(model => model.TelefonoEntrega)
                            @Html.TextBoxFor(model => model.TelefonoEntrega, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TelefonoEntrega, "", new { @class = "text-danger" })

                            <hr />

                            @Html.LabelFor(model => model.CiudadEntrega)
                            @Html.TextBoxFor(model => model.CiudadEntrega, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CiudadEntrega, "", new { @class = "text-danger" })

                            <hr />

                            @Html.LabelFor(model => model.DireccionEntrega)
                            @Html.TextBoxFor(model => model.DireccionEntrega, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DireccionEntrega, "", new { @class = "text-danger" })

                            <hr />
                            <input type="submit" value="Confirmar mi pedido" class="btn btn-success" />
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</html>



